<!doctype html>
<html lang="en">
  <head>
       <div th:block th:replace="fragments :: src-head"></div>

    <title>I nostri dipartimenti</title>
  </head>
    <body>
    
    <!-- fragment navbar-->
	<th:block th:replace="fragments :: navbar(departments)"></th:block>
	

	<!-- inizio tabella per mostrare i dettagli del dipartimento scelto -->
	<h1 class="text-center" th:text="${department.name}"></h1> 
	<hr/>
	
	<div class="container">
		<h3 class="text-center">Dettagli dipartimento</h3>
		 <table class="table my-3">
	          <thead>
	            <tr>
	              <th>Nome</th>
	              <th>Tipologia</th>
	              <th>Indirizzo</th>
	              <th>E-Mail</th>
	              <th>Sito Web</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="d : ${department.degrees}">
	              <td class="bg-info text-light" th:text="${d.name}"></td>
	              <td th:text="${d.level}"></td>
	              <td th:text="${d.address}"></td>
	              <td th:text="${d.email}"></td>
	              <td th:text="${d.website}"></td>
	            </tr>
	          </tbody>
	      </table>
	</div>
	
    </body>
</html>
