<!doctype html>
<html lang="en">
  <head>
       <div th:block th:replace="fragments :: src-head"></div>

    <title>Universita di Napoli</title>
  </head>
    <body>
    
    <!-- fragment navbar-->
	<th:block th:replace="fragments :: navbar(departments)"></th:block>
<div class="container">

<!-- aggiungo lista dipartimenti-->
<h1 th:if="${listaDipartimenti.size() > 0}" class="mx-auto w-50">I nostri dipartimenti</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Indirizzo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Sito web</th>      
      <th scope="col">Capo dipartimento</th>

    </tr>
  </thead>
  
  <tbody>
    <tr th:each="ld : ${listaDipartimenti}">
    	 <td class="bg-success">
	              		<a class="text-decoration-none fw-bold text-light" th:href="@{|/department/dettagli/${ld.Id}|}" th:text="${ld.getName()}"></a>
	      </td>
      	<td th:text="${ld.name}"></td>
		<td th:text="${ld.address}"></td>
     	<td th:text="${ld.phone}"></td>
     	<td th:text="${ld.email}"></td>
     	<td th:text="${ld.website}"></td>
 		<td th:text="${ld.headOfDepartments}"></td>



    </tr>
   
  </tbody>
</table>
      <h3 class="mx-auto w-50" th:if="${listaDipartimenti.size() == 0}">Nessun dipartimento trovato</h3>
</div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 </body>
</html>